[submodule "inputs/aligned"]
	path = inputs/aligned
	url = adina@medusa.ovgu.de:/home/data/psyinf/forrest_gump/collection/aligned/
[submodule "inputs/tnt"]
	path = inputs/tnt
	url = git@github.com:psychoinformatics-de/studyforrest-data-templatetransforms.git
